body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center, #4a2f2f, #1a1414);
  font-family: 'Courier New', cursive;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* OVERLAY */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #3a1f1f, #000);
  color: #ffe4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  text-align: center;
}

button {
  padding: 14px 26px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, #ffb199, #ff7b7b);
  font-size: 18px;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 20px #ff9f80aa;
}

/* BOOK */
#book {
  width: 90vw;
  max-width: 700px;
  height: 70vh;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 2000px;
  transform-style: preserve-3d;
}

/* PAGE */
.page {
  width: 100%;
  height: 100%;
  background: url("https://www.transparenttextures.com/patterns/paper-fibers.png"), #a36615;
  border-radius: 18px;
  position: absolute;
  transform-origin: left;
  transition: transform 1s ease;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6), inset 0 0 60px rgba(0, 0, 0, 0.2);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
}

/* BACK SIDE */

.page.flipped {
  transform: rotateY(-180deg);
  z-index: 0 !important;
}

/* PHOTOS */
.photo {
  width: 300px;
  border: 12px solid white;
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
  border-radius: 8px;
  align-self: center;
}

.photoSmall { width: 550px; transform: rotate(-4deg); }
.photoMedium { width: 270px; transform: rotate(3deg); }
.photolarge { width: 200px; transform: rotate(-4deg); }
/* NOTE */
.note {
  font-size: 22px;
  color: #070707;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
}


/* BUTTONS */
#nextBtn, #prevBtn {
  position: absolute;
  bottom: 30px;
}

#nextBtn { right: 40px; }
#prevBtn { left: 40px; }

/* PARTICLES */
#particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.page {
  overflow-y: auto;
}

.page::-webkit-scrollbar {
  display: none;
}
